* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* this is just a test  */

html, body {
    height: 100%; 

    background: linear-gradient(
  180deg,
  #F8F8F7 0%,
  #F5F5F4 100%
);


}

body {
    display: flex; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


aside {
    /* border: solid black; */

    border: none;
    border-right: 2px solid rgb(75, 75, 92);
    border-radius: 2px;
    width: 20%;
    height: 100vh; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1%;
    margin-bottom: 1%;
    background: linear-gradient(
  180deg,
  #F8F8F7 0%,
  #F5F5F4 100%
);

}


ul {
    list-style: none; 
    padding: 0;
}

.aside_icons {
    margin: 20px;
    /* border: solid black; */
    border-radius: 17px;
    cursor: pointer;
    transition: 0.3s;

    

    /* padding: 20px; */

}

.aside_icons:hover{
    background-color: rgb(185, 214, 224);
}

.aside_icons.active{

    background-color: rgb(82, 174, 207);

    color: rgb(238, 27, 27);

}

main {
    width: 80%; 
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background: linear-gradient(
  180deg,
  #F8F8F7 0%,
  #F5F5F4 100%
);

}

header {
    /* border: solid black; */
    border-radius: 2px;
    width: 100%; 
    margin-top: 1%;
    padding: 1% 2%; 

    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 250%;
    padding: 0.5%;
}

#header_text {
    padding: 0.5%;
}

#right_header {
    border: solid black;
    border-radius: 2px;
    display: flex;
    gap: 10px; 
    padding: 5px;
}

.notif_prof {
    padding: 15px 10px; 
}

/*  لوگو و نام */
#logo_name {
    /* border: solid rgb(0, 0, 0); */
    border-radius: 2px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 70px; 
    margin-left: 20px;
    align-items: center; 
    padding: 0 10px;
    

    font-family: Verdana, sans-serif;

}

#logo_picture {

    /* border: solid black; */
    border-radius: 2px;

    height: 80px;
    width: 80px;    

}

.logo_img {
 height: 95px;
 width: 100px;
}



a{
        /* border: solid 0.5px black; */
    border-radius: 15px;
    padding: 15px;

        text-decoration: none;
    color: black;
    
    display: block;

    font-size: 20px;

    text-align: center;
}

/* #notif{

} */

#info_cards{
    /* border: solid 2px rgb(0, 0, 0); */
    height: 160px;
    width: 100%;

}

.info__cards{
    border: solid 0.5px rgb(0, 0, 0);
    height: 130px;
    width: 200px;
    margin: 4%;
    display: inline-block;

    margin-top: 3%;
    border-radius: 10px;

}

#card_completed{
    border: solid 1px #b1b1f7;

background: #F4F7FC;
}
#card_pomodoros{
    border: solid 1px #b1b1f7;

background: #F5F5FD;
}
#card_streak{
    border: solid 1px #f9d6ab;
background: #F9F4EE;
}
#card_foocustime{
    border: solid 1px #b1f7d0;
background: #F4F6FB;
}

.first_card_items{
        border: solid 2px #549e78;
        display: flex;
        justify-content: space-between;
        margin: 10px;
        margin-left: 40%;

        height: 30px;
        width: 100px;

}